body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
}

.header-container button{
  outline: none;
  background: black;
  color: white;
  padding: 4px 8px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}